body {
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*----------------Navbar----------------*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 98%;
  z-index: 1000;
}

.navbar .logo {
  background-image: url("./logo_salud_y_belleza_blanco.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 50px;
  animation: pulse 1.5s infinite alternate;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar .nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
}

.navbar .nav-links li a:hover {
  text-decoration: underline;
}



/*----------------Media----------------*/
@media (prefers-reduced-motion: no-preference) {
  .navbar .logo {
    animation: pulse 1.5s ease-in-out infinite linear;
}
}

/*----------------KeyFrame Section----------------*/
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1); /* Reducido ligeramente de 1.3 para que el pulso sea más sutil y elegante */
  }
}